<div class="sign_in_form col-md-8 col-md-offset-2">
  <%= form_for(@user, as: :user, url: session_path(:user), html: { autocomplete: :off } ) do |f| %>
    <div class="row">
      <div class="sign-in-label form-group blue-green">
        <h3> SIGN IN </h3>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= render "shared/flash_not_popup" %>
      </div>
    </div>
<!--     <div class="row">
      <%#= link_to "SIGN IN WITH FACEBOOK", new_session_path(@user),
        class: "btn btn-primary form-control like-button" %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <hr>
      </div>
      <div class="col-md-4">
        <h4 style="color:gray;"> OR </h4>
      </div>
      <div class="col-md-4">
        <hr>
      </div>
    </div> -->
    <div class="row">
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control
          like-button", placeholder: "Email"%>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <%= f.password_field :password, class: "form-control like-button",
          placeholder: "Password", autocomplete: "new-password" %>
        <%= link_to "Forgot your password?", new_password_path(:user), id: "forgot-password-link",
          class: "pull-right blue-green"%>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <br/><br/><br/><br/>
        <%= f.submit "SIGN IN", class: "btn btn-secondary log-in-submit form-control like-button" %>
      </div>
    </div>
    <div class="row">
      <p> Not a member yet? <%= link_to " Sign up here.", new_registration_path(:user),
      class: "blue-green" %> </p>
    </div>
  <% end %>
</div>