<div class="create_artwork_form col-md-10 col-md-offset-1">
  <%= form_for(@artwork, action: :create, url: artworks_path,
    html: {autocomplete: "off"}) do |f| %>
  <% if @artwork.errors.any? %>
    <%= custom_error_messages @artwork %>
  <% end %>
  <div class="row">
    <%= f.fields_for :artwork_images, @artwork.artwork_images.build do |a| -%>
      <div class="form-group artwork-upload">
        <label for="artwork_artwork_images_attributes_0_image"
          class="btn btn-primary btn-artist-type like-button artwork_upload
          borderless">
          UPLOAD ARTWORK
        </label>
        <span class="image-filename"></span>
        <%= a.file_field :image, onchange: "$(this).parent().parent().find('.image-filename').html($(this).val().split(/[\\\\|/]/).pop());at_upload(this);", style: "display: none;" %>
      </div>
    <% end -%>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0 !important">
            <%= f.radio_button :privacy, 'public',
              checked: "#{(f.object.privacy == 'public') ? 'checked' : false}" %>
            <label for= "artwork_privacy_public" class="btn btn-default like-button form-control">
              Public
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0 !important">
            <%= f.radio_button :privacy, 'private',
              checked: "#{(f.object.privacy == 'private') ? 'checked' : false}" %>
            <label for= "artwork_privacy_private" class="btn btn-default
              like-button form-control">
              Private
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="form-group">
        <%= f.text_field :name, class: "form-control like-button", placeholder: "Title*" %>
      </div>
      <div class="form-group">
        <%= f.text_area :description, class: "form-control like-button", placeholder: "Description", rows: 6 %>
      </div>
      <div class="form-group force-button">
        <%= f.select(:category_id, Category.all.map{|u|[u.name, u.id]}, {}, {class: "form-control borderless", prompt: "Category"}) %>
      </div>
      <div class="form-group force-button">
        <%= f.select(:artwork_style_id, ArtworkStyle.all.map{|u|[u.name, u.id]}, {}, {class: "form-control borderless", prompt: "Style"}) %>
      </div>
      <div class="form-group pull-left">
        Is this piece Limited Edition?
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0 !important">
              <%= f.radio_button :limited_edition, false,
                checked: "#{(f.object.limited_edition == false) ? 'checked' : ''}", onclick: "show_quantity();" %>
              <label for= "artwork_limited_edition_false" class="btn btn-default like-button form-control">
                NO
              </label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0 !important">
              <%= f.radio_button :limited_edition, true,
                checked: "#{(f.object.limited_edition == true) ? 'checked' : ''}", onclick: "show_quantity();" %>
              <label for= "artwork_limited_edition_true" class="btn btn-default
                like-button form-control">
                YES
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" id="artwork_quantity_div" style="display:<%= "#{(f.object.limited_edition == true) ? 'inline' : 'none'}" %>;">
        <%= f.text_field :quantity, class: "form-control like-button", placeholder: "Number of pieces in this edition*" %>  <br/>
      </div>
      <div class="form-group pull-left">
        Price Mark Up (%)
      </div>
      <div class="form-group">
        <%= f.fields_for :mark_up_prices, @artwork.mark_up_prices.build do |m| -%>
            <%= m.number_field :percentage, class: "form-control like-button", placeholder: "Percentage",
              onkeyup: "update_profit_fields('x');" %>
        <% end %>
      </div>
      <%= text_field_tag :artwork_orientation, nil, hidden: true %>
      <%= render "mark_up_prices" %>
      <div class="row">
        <br/><br/>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="text-center">
          <%= f.hidden_field :user_id, value: "#{current_user.id}" %>
          <%= f.submit "SUBMIT ARTWORK", class: "btn btn-primary btn-lg btn-artist-type like-button borderless", id: "submit_artwork", onclick: "return should_certify();" %>
        </div>
        <div class="form-group">
          <br/>
          <label class="accept">
            <table border=0>
              <tr>
                <td style="padding: 10px;">  </td>
                <td> <p> <h5> <%= check_box_tag 'accept' %> I certify that the artwork submitted is original, is mine alone, and that I have full authority to grant the permissions herein</h5></p> </td>
              </tr>
            </table>
          </label>
        </div>
      </div>
    </div>
  <% end %>
</div>