<div class="navbar-transparent navbar-inverse navbar-static-top">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="navbar" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag "white_logo.png", height: "130%" %>
            <% end %>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "UPLOAD", new_artwork_path, style: "color:#{@color};",
                class: "#{navbar_white_link_active(controller_name, action_name,
                'upload')}" %>
              </li>
              <% if current_user.blank? %>
                <li>
                  <%= link_to "SIGN IN", new_session_path(:user), style: "color:#{@color};",
                    class: "#{navbar_white_link_active(controller_name, action_name, 'sign_in')}" %>
                </li>
              <% else %>
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle <%= navbar_white_link_active(controller_name,
                    action_name, 'profile') %>"
                    data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false"
                    style= "color:<%=@color%>;background-color:white;">
                    PROFILE
                      <span class="caret" style= "color:<%=@color%>;"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to artworks_path, style: "color:#{@color};" do %>
                        MY ARTWORKS
                      <% end %>
                    </li>
                    <li>
                      <%= link_to edit_user_registration_path, style: "color:#{@color};" do %>
                        EDIT PROFILE
                      <% end %>
                    </li>
                    <li>
                      <%= link_to destroy_user_session_path, method: "delete", style: "color:#{@color};" do %>
                        SIGN OUT
                      <% end %>
                    </li>
                  </ul>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function display_sign_in() {
    sign_in = document.getElementById("page-mask-signin");
    sign_form = document.getElementById("new_user_form");
    sign_in.style.display = "block";
    sign_form.style.display = "block";
  }
</script>