<div class="row">
  <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5
    col-xs-offset-1">
    <br/><br/>
    <%= image_tag "welcome.png", width: "100%", class: "welcome-image" %>
    <p> We help you sell, reproduce and market your work without you having to worry about the tedious
details. The minute you upload your work, we start working our magic. </p>
    <%= link_to "START UPLOADING", new_artwork_path, class:"btn btn-lg btn-default
      start-upload-button" %>
  </div>
  <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-6" id="start-upload-button">
    <%= image_tag "3_artworks.png", width: "100%", height: "100%", class: "artwork-sample" %>
  </div>
</div>