<div id="page-mask-signin" style="display:none;"%>
  <div class="sign_in_form col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
    <span class="close close-login"> <%= image_tag "close.png" %></span>
    <div id="new_user_form">
      <%= form_for(@user, as: :user, url: session_path(:user)) do |f| %>
<!--         <div class="row">
          <%# unless flash[:alert].blank? %>
            <%# flash.each do |key, value| %>
              <%#= content_tag :div, value, id: "#{key}" do %>
                <span class="<%#= key %>"> <%#= flash["#{key}"]%> </span>
                <hr>
              <% #end %>
            <%# end %>
          <% #end %>
        </div> -->
        <div class="row">
          <%= link_to "SIGN IN WITH FACEBOOK", new_session_path(@user),
            class: "btn btn-primary form-control like-button" %>
        </div>
        <div class="row">
          <div class="col-md-4">
            <hr>
          </div>
          <div class="col-md-4">
            <h4 style="color:gray;"> OR </h4>
          </div>
          <div class="col-md-4">
            <hr>
          </div>
        </div>
          <div class="row">
            <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control like-button" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control like-button" %>
              <%= link_to "Forgot your password?", "#", id: "forgot-password-link"%>
            </div>
          </div>
          <div class="row">
            <%= f.submit "SIGN IN", class: "btn btn-secondary log-in-submit form-control like-button" %>
          </div>
        <div class="row">
          <p> Not a member yet? <%= link_to " Sign up here.", new_registration_path(:user) %> </p>
        </div>
      <% end %>
    </div>
    <div id="forgot-password-form" style="display:none;">
      <%= form_for(@user, as: :user, url: password_path(:user), html: { method: :post }) do |f| %>
<!--           <div class="row">
            <%# unless flash[:alert].blank? %>
              <%# flash.each do |key, value| %>
                <%#= content_tag :div, value, id: "#{key}" do %>
                  <span class="<%#= key %>"> <%#= flash["#{key}"]%> </span>
                  <hr>
                <%# end %>
              <%# end %>
            <%# end %>
          </div> -->
          <div class="row">
            <p> <h5 class="forgot-header"> FORGOT YOUR PASSWORD?</h5> </p>
          </div>
          <div class="row">
            <p class="forgot-subheader"> No worries, enter your email below and we'll send password
              reset instructions to you.</p>
          </div>
          <div class="row">
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control like-button",
                placeholder: "Email Address*"%>
            </div>
          </div>
          <div class="row">
            <%= f.submit "RESET PASSWORD", class: "btn btn-secondary log-in-submit form-control like-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sign_in_form = document.getElementById('sign_in_form');
  var mask = document.getElementById('page-mask-signin');
  var span = document.getElementsByClassName("close-login")[0];
  var forgot = document.getElementById("forgot-password-link");
  var forgot_form = document.getElementById("forgot-password-form");
  span.onclick = function() {
    if (sign_in_form) {
      sign_in_form.style.display = "none";
    }
    mask.style.display = "none";
    if (forgot_form) {
      forgot_form.style.display = "none";
    }
  }
  if (forgot) {
    forgot.onclick = function() {
      sign_form = document.getElementById("new_user_form");
      sign_form.style.display = "none";
      forgot_form.style.display = "inline";
    }
  }
</script>