<%= stylesheet_link_tag "devise", :media => "all" %>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="jumbotron jumbotron-home" style="background: url(<%=image_path('microsite-bg-01.jpg')%>)">
      <%= render "home_banner" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron-email">
      <div class="col-md-8 col-md-offset-2">
          <table border=0 width="100%">
          <tr> <td>
            <span class="email-textbox-label">
              GET FIRST DIBS. <br/>
              TRY OUT ARTZIBIT TODAY.
            </span> </td> <td>
            <%= form_for @test_user, onsubmit: "return check_test_user_field();",
              html: {autocomplete: "off"} do |f| %>
              <%= f.text_field :email, class: "email-textbox", placeholder: "Enter email here"%>
              <%= image_submit_tag image_path("arrow.jpg"), class: "email-button", onclick: "return check_test_user_field()" %>
            <% end %> </td> </tr>
          </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron-counter">
      <br/><br/>
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 counter-box">
            <center>
              <div class="row">
                <span class="counter">
                  <%= total_artists %>
                </span>
              </div>
              <div class="row artist-row">
                <span class="counter-label">
                  <p> TOTAL ARTISTS </p>
                </span>
              </div>
            </center>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 counter-box">
            <center>
              <div class="row">
                <span class="counter">
                  <%= photographers %>
                </span>
              </div>
              <div class="row">
                <span class="counter-label">
                  <p> PHOTOGRAPHERS </p>
                </span>
              </div>
            </center>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 counter-box">
            <center>
              <div class="row">
                <span class="counter">
                  <%= visual_artists %>
                </span>
              </div>
              <div class="row visual-row">
                <span class="counter-label">
                  <p> VISUAL ARTISTS </p>
                </span>
              </div>
            </center>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 counter-box" style="border-right: white 1px solid;">
            <center>
              <div class="row">
                <span class="counter">
                  <%= total_artworks %>
                </span>
              </div>
              <div class="row">
                <span class="counter-label">
                  <p> TOTAL ARTWORKS </p>
                </span>
              </div>
            </center>
          </div>
        </div>
        <br/><br/>
      </div>
    </div>
  </div>
</div>
<%= render "shared/flash" %>