<div class="order_form" width="100%">
  <center>
  <table width="100%" border="0">
    <tr><td align="center">
      <%= image_tag attachments['header_email.jpg'].url, width: "100%", height: "40%" %>
    </td></tr>
  </table>
  <table width="65%" border="0">
    <tr><td align="center">
      <br/>
    </td></tr>
    <tr><td align="center">
    <p> Hi, <%= @order.user.name %> </p>
    </td></tr>
    <tr><td align="center">
    <p> <h2 style="color:#2bcba5;"> THANK YOU FOR YOUR ORDER !</h2> </p>
    </td></tr>
    <tr><td align="center">
    <p> This is to confirm that we've received your order and that we've started the process
      of fulfilling it. You will receive a separate e-mail notifying you when you order is on it's
      way.</p>
    </td></tr>
    <tr><td align="center">
    Here's a recap on what you've ordered:
    </td></tr>
    <tr><td align="center">
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">
    <% @order.cart_items.each do |x| %>
    <tr>
      <td width="50%">
        <table >
          <% x_info = ["#{x.artwork.name}", "#{x.size}", "Quantity: #{x.quantity}", "Installation: #{x.installation ? 'yes' : 'no'}"] %>
          <% x_info.count.times do |t| %>
            <tr> <td>
              <%= "<h4 style='margin-bottom:-2px'>".html_safe if t == 0 %>
                <%= x_info[t] %>
              <%= "</h4>".html_safe if t == 0 %>
            </td></tr>
          <% end %>
        </table>
      </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h4> <%= number_to_currency(x.total_product_amount) %> </h4>
      </td>
    </tr>
    <tr>
      <td colspan="2"> <hr/> </td>
    </tr>
    <% end %>
    <tr>
      <td width="75%"> <h4> Subtotal </h4> </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h4> <%= number_to_currency(@order.cart.sub_total_amount) %> </h4> </td>
    </tr>
    <tr>
      <td width="75%"> <h4> Installation Fee </h4> </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h4> <%= number_to_currency(@order.cart.installation_fees) %> </h4> </td>
    </tr>
    <tr>
      <td width="75%"> <h4> Delivery Fee </h4> </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h4> <%= number_to_currency(@order.cart.delivery_charge_amount) %> </h4> </td>
    </tr>
    <tr>
      <td width="75%"> <h4> Discount Amount </h4> </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h4> <%= number_to_currency(@order.cart.discount_amount) %> </h4> </td>
    </tr>
    <tr>
      <td colspan="2"> <hr/> </td>
    </tr>
    <tr>
      <td width="75%"> <h3> TOTAL </h3> </td>
      <td width="50%" align="right" style="vertical-align:top;">
        <h3> <%= number_to_currency(@order.cart.total_price) %> </h3> </td>
    </tr>
    <tr><td align="center">
      <br/>
      <br/>
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">
    <tr><td align="center">
    <p> Got questions, queries or concerns about your order?</p>
    </td></tr>
    <tr><td align="center">
    <p> Send an email to <a hyperlink="#"> contact@artzibit.net</a> or call us at (+65) 5632 8426.</p>
    </td></tr>
    <tr><td align="center">
      <hr/>
    </td></tr>
    </table>
  <table width="80%" border="0">
      <tr>
        <td width="50%">
          <p> <h5> <%= image_tag attachments["ig.png"].url, width: "7%", height: "7%"%> instagram </h5> </p>
        </td>
        <td width="50%" align="right">
          <p> <h5> (+65)4531 5638 </h5>
          <h5> contact@artzibit.net</h5> </p>
        </td>
      </tr>
    </table>
    </center>
</div>