<div class="order_form" width="100%">
  <center>
    <table width="65%" border="0">
    <tr><td align="center">
      <br/><br/>
    </td></tr>
    <tr><td align="center">
    <p> <h2 style="color:#2bcba5;"> THANK YOU FOR YOUR SUBMISSION</h2> </p>
    </td></tr>
    <tr><td align="center">
    <p>Your artwork is now on approval process from Artzibit curators. This usually takes 2 - 3 days.</p>
    </td></tr>
    <tr><td align="center">
      <%#= image_tag attachments["image.png"].url, width: "100%", height: "100%" %>
    </td></tr>
    <tr><td align="center">
      <br/>
      <br/>
    </td></tr>
    </table>
    <table width="65%" border="0">
    <tr>
      <td width="50%">
        Artwork Name<br>
        <h4> <%= @artwork.name %></h4>
      </td>
      <td width="50%" align="right">
        Artwork No.<br>
        <h4> <%= @artwork.id %> </h4>
      </td>
    </tr>
    <tr>
      <td width="50%">
        Artist Name <br>
        <h4> <%= @artwork.user.name %></h4>
      </td>
      <td width="50%" align="right">
        Date Submitted<br>
        <h4> <%= @artwork.created_at.strftime('%A, %b %d, %Y') %> </h4>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        Description <br>
        <p><h4> <%= @artwork.description %></h4></p>
      </td>
    </tr>
    <tr>
      <td colspan=2 align="center">
        <br/>
      </td>
    </tr>
    </table>
    <hr>
    <table width="65%" border="0">
    <tr><td align="center" colspan="3">
    <p> <h3 style="color:#2bcba5;"> PROJECTED EARNINGS </h3> </p>
    </td></tr>
    <tr>
      <th style="text-align:center" width="33%">
        SIZES
      </th>
      <th style="text-align:center" width="33%">
        YOUR PROFIT
      </th>
      <th style="text-align:center" width="33%">
        RETAIL
      </th>
    </tr>
    <% @artwork.fixed_artwork_sizes.order(:width).each do |size| %>
        <tr>
        <th style="text-align:center" width="33%">
          <h6><%= size.name_with_no %></h6>
        </th>
        <th style="text-align:center" width="33%">
          $ <%= @artwork.markup_price(size.current_price) %>
        </th>
        <th style="text-align:center" width="33%">
          $ <%= size.current_price + @artwork.markup_price(size.current_price) %>
        </th>
      </tr>
    <% end %>
    </table>
    <table width="80%" border="0">
      <tr>
        <td width="50%">
          <p> <h5> <%= image_tag attachments["ig.png"].url, width: "7%", height: "7%"%> instagram </h5> </p>
        </td>
        <td width="50%" align="right">
          <p> <h5> (+65)4531 5638 </h5>
          <h5> contact@artzibit.net</h5> </p>
        </td>
      </tr>
    </table>
  </center>
</div>