@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.Jcrop
 *= require chosen
 *= require devise
 *= require_tree .
 */

body {
  font-family: 'Montserrat';
}

body.gray {
  background-color: #fbfbfb;
}

.navbar-transparent {
  background: none;
  border: none;
  position: absolute;
  width: 100%;
}

.navbar-gray {
  background-color: gray;

}

/* navbar-white */

.navbar-white {
  background: white;
  color: black !important;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar-white .navbar-nav > li > a {
  color: #2bcba5;
  display:inline-block;
  text-decoration:none;
}

.nav.navbar-nav.navbar-right > li > a.active:after,
.navbar-white .navbar-nav > li > a.active:after {
  display:block;
  content:'';
  width:100%;
  height:4px;
  background:#2bcba5;
  margin-top:5px;
}

.navbar-white-body {
  padding: 15px;
}

/* navbar-white */

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.jumbotron p {
  font-size: 18px;
  margin-left: 15px;
}

.jumbotron-home {
  background-size: 100% 100% !important;
  background-position: center center !important;
  /*height: 565px;*/
  /*height: 60%;*/
  margin-bottom: 0px !important;
  color: white;
    position: inherit;
  overflow: auto;
}

.welcome-image {
  margin-left: -25px;
}

.jumbotron-counter {
  background-color: #2bcba5;
  /*height: 200px;*/
    position: inherit;
  overflow: auto;
  /*height: 20%;*/
}

.jumbotron-email {
  background-color: #fe5d76;
  /*height: 105px;*/
  position: inherit;
  overflow: auto;
  padding: 15px;
}

.email-form {
  margin-top: 3%;
}

.email-textbox-label {
  font-size: 18px;
  color: white;
}

.counter-box {
  border-left: white 1px solid;
}

.email-textbox{
  width: 95%;
  height: 50px;
  padding-right: 50px;
  padding-left: 15px;
}

.email-button{
  margin-bottom: -20px;
  margin-left: -53px;
  height: 49px;
  width: 50px;
  background: #2bcba5;
  color: white;
  border: 0;
  -webkit-appearance: none;
}


span.counter {
  font-size: 60px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

span.counter-label {
  font-size: 20px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

/* The Pop Up Button */
#page-mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

#error, #notice, #alert {
  /*z-index: 1500;
  /*position: fixed;*/
  /*background: #ffffff ;*/
  /*padding: 30px;*/
  text-align: center;
  /*top: 20%;*/
  /*border-radius: 15px;*/
  font-weight: bolder;
  /*width: 520px;
  /*height: 250px;*/
  /*left: 44%;*/
  /*margin: -100px 0 0 -150px;*/
  /*color: #6b5b54 ;*/
  /*font-size: 14pt;*/
}

#popup_error, #popup_notice, #popup_alert{
  z-index: 1500;
  position: fixed;
  background: #ffffff ;
  padding: 30px;
  text-align: center;
  top: 20%;
  border-radius: 15px;
  font-weight: bolder;
  width: 520px;
  height: 80px;
  left: 44%;
  margin: -100px 0 0 -150px;
  color: #6b5b54 ;
  font-size: 14pt;
}

#error, #alert,
#popup_error, #popup_alert {
  color: red;
}

#notice {
  color: green;
}

/* The Close Button */
.close {
  position: absolute;
  margin: 0;
  top: -3px;
  right: 21px;
  opacity: 0.7;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.or-div {
  margin-top: 20px;
  margin-bottom: 20px;
}


@media screen and (max-width: 1135px) {
  .counter-box {
    height: 100%;
  }
  .artist-row span {
    display: none;
  }
  .artist-row:after {
    content: "TOTAL \A ARTISTS";
    white-space: pre;
    font-size: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
  }
  .visual-row span {
    display: none;
  }
  .visual-row:after {
    content: "VISUAL \A ARTISTS";
    white-space: pre;
    font-size: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
  }
  .jumbotron p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .start-upload-button {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .jumbotron-home {
    height: 60%;
    text-align: center;
  }
  .jumbotron-counter {
    height: 30%;
  }
  .jumbotron-email {
    text-align: center;
    height: 10%;
  }
  .welcome-image {
    width: 100%;
  }
  .artist-row span {
    display: none;
  }
  .artist-row:after {
    content: "TOTAL ARTISTS";
    white-space: pre;
    font-size: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
  }
  .visual-row span {
    display: none;
  }
  .visual-row:after {
    content: "VISUAL ARTISTS";
    white-space: pre;
    font-size: 20px;
    color: white;
    text-align: center;
    word-wrap: break-word;
  }
  .email-form {
    margin-top: 0;
  }
  .email-button {
    margin-bottom: 10px;
  }

  .email-textbox-label-div {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .artwork-sample {
    height: 85%;
    width: 85%;
    margin-top: 40px;
  }

}

@media screen and (max-width: 700px) {
  .jumbotron p {
      font-size: 12px;
  }
}

/* ARTWORKS */

div.page-label {
  margin-top: 15%;
  margin-bottom: 10%;
  font-weight: bolder;
}

div.page-label > h3:after {
  display:block;
  content:'';
  width:15%;
  height:5px;
  background: #f38181;
  margin-top: 50px;
}

.edit-artwork-image > img,
.artwork-image > img {
  height: 275px;
}

.artwork-image > img.to-crop {
  border: 3px solid red;
  opacity: 0.5;
}

.edit-artwork-image,
.artwork-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.edit-artwork-detail {
  align-items: left;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*#artwork_artwork_images_attributes_0_image {
  display: none;
}*/

/* The Pop Up Button */
.page-mask-dynamic {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.artwork-detail {
  z-index: 1500;
  position: fixed;
  background: #ffffff ;
  /*padding: 30px;*/
  text-align: center;
  top: 5%;
  left: 35%;
  border-radius: 15px;
  font-weight: bolder;
  width: 35%;
  /*height: 90%;*/
  bottom: 5%;
  /*margin: -100px 0 0 -150px;*/
  color: #6b5b54 ;
  font-size: 14pt;
  border: 3px solid #2bcba5;
  overflow-y:auto;
  overflow-x:hidden;
}

/*.artwork-dtl-image {
  overflow: hidden;
  position: fixed;
}*/

.scrollable{
  overflow-y:auto;
  overflow-x: hidden;
}

.artwork-dtl-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.artwork-box {
  text-align: center;
  /*height: 100%;*/
  height: 244px;
}

.artwork-box-portrait {
  text-align: center;
  height: 100%;
  /*height: 244px;*/
}

.artwork-dtl-image-square > img {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:5px;
}
.artwork-dtl-image-portrait > img{
  height: 100%;
  width: 66%;
  /*width:66%;*/
  position: absolute;
  /*bottom: 0;*/
  left: 40px;
  top: 0;
}

.artwork-dtl-image-landscape > img {
  height: 66%;
  width:100%;
  position: absolute;
  bottom: 0;
  left:0;
}

.artwork-dtl-image-portrait,
.artwork-dtl-image-square,
.artwork-dtl-image-landscape {
  height: 100%;
  text-align: center;
  position: relative;
}

.artwork-dtl-image > img {
  height: 100%;
  width: 100%;
}

.bottom > * {
  vertical-align: bottom;
}

.artwork-dtl-info {
  padding: 0;
}

p.artwork_desc {
  text-align: justify;
}

/*::-webkit-scrollbar {
   width: 1px;
   color: #2bcba5;
}*/

/* EDIT ARTWORK */

div.edit-artwork-label {
  margin-top: 5%;
  margin-bottom: 5%;
}

div.edit-artwork-label > h4:after {
  display:block;
  content:'';
  width:10%;
  height:3px;
  background: red;
  margin-top: 20px;
}

hr.margin-less {
  margin-top: 0px;
  margin-bottom: 10px;
}

div.gray > a {
  color: gray;
  font-weight: 100;
  text-decoration: none;
}

div.edit-artwork-form {
  margin-top: 0px;
}

.requirements {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
}

div.index-menu-div{
  margin-bottom: 10%;
}

.index-menu{
  display: flex;
  justify-content: center;
}

.index-menu-li{
  margin: 0px !important;
}

.index-menu-all{
  border-top-left-radius: 15px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 0px !important;
  border: 1px solid #fe5d76;
  border-right: none !important;
}

.index-menu-public{
  border-radius: 0px !important;
  border: 1px solid #fe5d76;
}

.index-menu-private{
  border-top-right-radius: 15px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none !important;
  border: 1px solid #fe5d76;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #fe5d76;
}

.index-menu-all,
.index-menu-public,
.index-menu-private,
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
  color: black;
  padding-left: 35px;
  padding-right: 35px;
}

.start-upload-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  width: 50%;
  border-radius: 1000px;
}

#submit_artwork:hover,
.artwork_upload:hover,
.btn-primary:hover {
  background-color: #2f937a !important;
}

.start-upload-button:hover {
  background-color: rgba(156, 140, 139, 0.5);
  color: white;
  border: 2px solid white;
}