#page-mask-signin {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.sign-in-label,
.sign-up-header {
  text-align: left !important;
}

.create_artwork_form {
  margin-top: 100px;
}

.sign_in_form,
.forgot_password_form,
.sign_up_form {
  /*z-index: 1001;*/
  /*position: fixed;*/
  /*background: #ffffff ;*/
  /*padding: 30px;*/
  text-align: center;
  /*top: 20%;*/
  font-weight: bolder;
  /*width: 520px;*/
  /*height: 250px;*/
  /*left: 44%;*/
  /*margin: -100px 0 0 -150px;*/
  /*color: #6b5b54 ;*/
  /*font-size: 14pt;*/
}

.sign_in_form,
.forgot_password_form {
  top: 200px;
}

.sign_up_form {
  top: 50px;
}

.blue-green {
  color: #2bcba5 !important;
}

.sign_in_form,
.like-button {
  border-radius: 15px !important;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

.log-in-submit {
  background-color: white;
  border: 2px solid #2bcba5;
  color: #2bcba5;
  width: 50%;
}

.forgot-header {
  font-weight: bolder;
}

.forgot-subheader {
  font-size: 14px;
}

a#forgot-password-link.pull-right {
  color: #2bcba5 !important;
}

#artwork_limited_edition_true,
#artwork_limited_edition_false,
#artwork_privacy_public,
#artwork_privacy_private,
#user_artist_type_visual_artist,
#user_artist_type_photographer {
  display: none;
}

#artwork_limited_edition_true:checked + label,
#artwork_limited_edition_false:checked + label,
#artwork_privacy_public:checked + label,
#artwork_privacy_private:checked + label,
#user_artist_type_visual_artist:checked + label,
#user_artist_type_photographer:checked + label {
  background-color: #2bcba5 !important;
  color: white;
}

/* SIGN UP */

.btn-artist-type {
  background-color: #2bcba5;
}


@media screen and (max-width: 991px) {
  #page-mask-signin {
    align: center;
  }
}

/* HALF_SCREEN.HTML.ERB CSS */

.left-div {
  /*position: absolute;*/
  height: 100%;
}

.right-div {
  background-color: white;
  float: right;
}

.force-button {
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
}

.borderless {
  border: 0px !important;
}