<!DOCTYPE html>
<html>
  <head>
    <title>Artzibit</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "devise", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= google_webfonts_init({
      google: ['Montserrat']
    }) %>
    <%= yield(:head) %>
  </head>
  <% if controller_name == "page" %>
    <body oncontextmenu= "return false``">
  <% else %>
    <body class= "gray" oncontextmenu= "return false">
  <% end %>
    <% if controller_name == "page" or
      (controller_name == "artworks" and action_name == "create") %>
      <div class="container-fluid">
        <div class="row">
          <%= render "shared/navbar" %>
        </div>
      </div>
    <% else %>
      <%= render "shared/navbar_white" %>
    <% end %>
    <div class="row body">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
