<div class="sign_up_form col-md-8 col-md-offset-2">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: {autocomplete: "off"}) do |f| %>
      <div class="sign-up-header form-group blue-green">
        <h3>SIGN UP</h3>
      </div>

      <div class="form-group">
        <%= devise_error_messages! %>
      </div>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: "form-control like-button",
          placeholder: "Name*" %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, autofocus: true, class: "form-control like-button",
          placeholder: "Username*" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control like-button",
          placeholder: "Email*", input_html: {autocomplete: :off} %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control like-button",
          placeholder: "Password*" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control like-button", placeholder: "Password Confirmation" %>
      </div>

      <div class="form-group pull-left">
        <p> I am a...
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0;">
            <%= f.radio_button :artist_type, 'photographer',
              checked: "#{(f.object.artist_type == 'photographer') ? 'checked' : ''}" %>
            <label for= "user_artist_type_photographer" class="btn btn-default like-button form-control">
              Photographer
            </label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">
            <%= f.radio_button :artist_type, 'visual_artist',
              checked: "#{(f.object.artist_type == 'visual_artist') ? 'checked' : ''}" %>
            <label for= "user_artist_type_visual_artist" class="btn btn-default
              like-button form-control">
              Visual Artist
            </label>
          </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.hidden_field :by_pass_activation_code, value: true %>
        <%= f.text_field :website_portfolio, autofocus: true, class: "form-control like-button",
          placeholder: "Website/Portfolio" %>
      </div>

      <div class="form-group">
        <%= f.text_field :country, autofocus: true, class: "form-control like-button",
          placeholder: "Country*" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary form-control like-button
          btn-artist-type borderless" %>
      </div>

  <% end %>
</div>